<h1>Diferencias entre <code>var</code> y <code>let</code></h1>
<a target="_blank" href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures/es6/explore-differences-between-the-var-and-let-keywords">Documentación</a>
<p>Uno de los problemas con las variables <code>var</code> es que 
    puedes sobreescribir la declaracion de variables sin problemas
</p>
<code>
    <pre>
        var camper = 'James';
        var camper = 'David';
        console.log(camper);
        // logs 'David'

    </pre>

</code>

geter and settes
class
promesas